[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pynvim = "*"
flake8 = "*"
jedi = "*"
yapf = "*"
ipython = "*"
flake8-rst = "*"

[packages]
sphinx = "*"
sphinx-autobuild = "*"
sphinx-rtd-theme = "*"
tornado = "*"

[requires]
python_version = "3.7"
