.linenodiv{
    background-color: #4E342E;
    color: #FFFFFF;
}
.highlight .hll {
    background-color: #FBC02D;
    font: bold 14px;
}
.code-block-caption {
    background-color: #4E342E;
}
.code-block-caption span.caption-text {
    color: #FFFFFF;
    font: bold 14px arial;
}

table caption {
    background-color: #1B5E20;
}
table caption span.caption-text {
    color: #FFFFFF;
	font: bold 14px arial;
}

kbd {
    height: 20px;
	min-width: 12px;
	padding: 0 5px;
	margin: 2px 5px;
	background: #222222;
	border-radius: 4px;
	border-top: 1px solid #222222;
	box-shadow: 0 0 12px #333333 inset, 0 1px 0 #000000, 0 2px 0 #222222, 0 2px 3px #333333;
	color: #AAAAAA;
	text-shadow: 0 -1px 0 #000000;
	font: bold 14px arial;
	text-align: center;
	line-height: 20px;
	display: inline-block;
}

code.file {
    background-color: #37474F;
	border-top: 1px solid #222222;
	box-shadow: 0 2px 0, 0 2px 3px;
	border-radius: 4px;
}

code.file.literal {
    color: #FFFFFF;
	font: bold 14px arial;
	text-shadow: 0 -1px 0 #000000;
}

.line-block {
    position: relative;
    padding: 35px 15px 10px 15px;
    box-sizing: border-box;
    font-style: italic;
    background: #f5f5f5;
    color: #777777;
    border-left: 4px solid #9dd4ff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.14);
}

.line.p {
    padding: 0;
    margin: 7px 0;
    line-height: 1.7;
}

.line.cite {
    display: block;
    text-align: right;
    color: #888888;
    font-size: 0.9em;
}
